<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat App</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div class="container">
			<form class="row g-3 mt-3" method="POST" action="/createRoom">
				<div class="input-group mb-3">
					<input
						type="text"
						class="form-control"
						placeholder="Enter new room name"
						aria-label="Enter new room name"
						name="roomName"
					/>
					<button class="btn btn-outline-secondary" type="submit">
						Create Room
					</button>
				</div>
			</form>
			<div class="list-group dark">
				<% rooms.forEach(room => { %>
				<a href="/<%= room[0] %>" class="list-group-item list-group-item-action"
					><%= room[1] %> :- <small class="text-muted"><%= room[0] %></small></a
				>
				<% }) %>
				<!-- <a href="#" class="list-group-item list-group-item-action">Room 2</a> -->
				<!-- <a href="#" class="list-group-item list-group-item-action">Room 3</a> -->
			</div>
		</div>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="script.js"></script>
</html>
