<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat App</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
			crossorigin="anonymous"
		></script>
		<script>
			const roomName = "<%= roomName %>";
		</script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Chat App</a>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item mx-2" id="userContainer">Neel</li>
					</ul>
					<span class="badge rounded-pill bg-primary" id="userStatus"
						>Online</span
					>
				</div>
			</div>
		</nav>
		<div class="container my-3">
			<div class="list-group" id="messageContainer">
				<% for(let [user,message] of messages){ %>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1"><%= user.split('_')[0] %></h5>
						<small class="text-muted">3 days ago</small>
					</div>
					<p class="mb-1"><%= message %></p>
				</a>
				<% } %>
				<!-- messages pops up here -->
			</div>
			<form class="d-bottom px-4 pt-4" id="formForMessage">
				<div class="input-group mb-3">
					<input
						type="text"
						class="form-control"
						placeholder="Enter message..."
						id="inputForMessage"
					/>
					<button class="btn btn-outline-primary" type="submit">Send</button>
				</div>
			</form>
		</div>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="script.js"></script>
</html>
